.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  padding: 20px;
}

.candidatesSection {
  margin-bottom: 20px;
}

.tableWrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader,
.tableCell {
  padding: 8px 16px;
  border: 1px solid #ccc;
}

.checkVotedSection {
  margin-bottom: 20px;
}

.checkVotedContainer {
  display: flex;
  align-items: center;
}

.input {
  border: 1px solid #ccc;
  padding: 8px;
  margin-right: 10px;
}

.checkVotedButton {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}

.votedStatus {
  margin-top: 12px;
}

.redText {
  color: red;
}

.greenText {
  color: green;
}

.voteSection {
  margin-bottom: 20px;
}

.voteContainer {
  display: flex;
  align-items: center;
}

.voteButton {
  background-color: #7b68ee;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 10px;
}

.emptyDiv {
  margin-top: 24px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #31a8df, #31a8df);
  padding: 16px;
  color: white;
}

.footerLink {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.footerLink:hover {
  text-decoration: underline;
}

.footerLink:last-child {
  margin-right: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #31a8df, #31a8df);
  padding: 16px;
}

.title {
  font-weight: bold;
  font-size: 34px;
  color: white;
  margin-right: 20px;
}

.button {
  background-color: #4d4aee;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}